.calendar {
  margin: 10px 0;
}

.calendar .calendar__controls {
  display: flex;
}

.calendar .calendar__month-text {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.calendar .calendar__table {
  width: 100%;
}

.calendar-week .calendar-week__day {
  text-align: center;
}
.calendar-week .calendar-week__day > .button {
  width: 100%;
  min-width: 20px;
  min-height: 20px;
}

/* Special states */
.calendar-week.active,
.calendar-week .calendar-week__day.active {
  background-color: #f00;
  color: #fff;
}
.calendar-week .calendar-week__day.is-today {
  background-color: #00f;
  color: #fff;
}
.calendar-week.active .calendar-week__day:hover,
.calendar-week .calendar-week__day.active:hover,
.calendar-week .calendar-week__day.is-today:hover {
  color: #000;
}
.calendar-week .calendar-week__day.dummy-day {
  background-color: #eee;
}
